<header class="main-header">
    <div class="container">
        <div class="main-header__top">
            <div class="logo">
                <p class="logo__content">H.</p>
            </div>
            <div class="menu">
                <nav>
                    <ul class="menu__list">
                        <li class="upper-case header-text">prices</li>
                        <li class="upper-case header-text">booking</li>
                        <li class="upper-case header-text">blog</li>
                        <li class="upper-case header-text">services</li>
                    </ul>
                </nav>
                <div class="menu__switch">
                    <img 
                    src="../assets/icons/ic-search.svg" 
                    class="menu__switch__search"
                    alt="search"
                    >
                    <div class="menu__languages">
                        <select name="lang" id="lang" class="menu__languages__select header-text">
                            <option value="US">US</option>
                            <option value="VN">VN</option>
                        </select>
                    </div>
                    <img 
                    src="../assets/icons/ic-menu.svg" 
                    class="menu__icon"
                    alt="">
                </div>
            </div>
        </div>
        <div class="main-header__mid">

        </div>
    </div>
</header>